{extend name="layout/popup" /}
{block name="content"}
<input type="hidden" name="ajax" id="ajax" value="1">
<div class="popup-header">
    <h1>添加用户</h1>
</div>
<div class="popup-body">
    <form id="form_data" class="layui-form" method="post" action="{:url('save')}">
        <input type="hidden" name="opmode" value="add">
        <div class="layui-row">
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">政策名称：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="emp_no" placeholder="请输入政策名称" class="layui-input" check="required"
                               info="请输入政策名称">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">服务地区：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="服务地区" class="layui-input" check="required"
                               info="服务地区">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">企业政策名称：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="emp_no" placeholder="企业政策名称" class="layui-input" check="required"
                               info="企业政策名称">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">政策归属单位：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="政策归属单位" class="layui-input" check="required"
                               info="政策归属单位">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">政策负责人：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="emp_no" placeholder="请选择政策" class="layui-input" check="required"
                               info="请选择政策">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">负责人电话：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="请选择缴纳类型" class="layui-input" check="required"
                               info="请选择缴纳类型">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">办理截止日：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="emp_no" placeholder="请选择户籍性质" class="layui-input" check="required"
                               info="请选择户籍性质">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">社保基数：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="请选择办理方式" class="layui-input" check="required"
                               info="请选择办理方式">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">收费方式：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="请选择办理方式" class="layui-input" check="required"
                               info="请选择办理方式">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">是否收取其他费用：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="请选择办理方式" class="layui-input" check="required"
                               info="请选择办理方式">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">是否强制缴纳公积金：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="请选择办理方式" class="layui-input" check="required"
                               info="请选择办理方式">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12">
                <div class="layui-form-item">
                    <label class="layui-form-label required">关联公积金政策：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="请输入名称" class="layui-input" check="required"
                               info="请输入名称">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="popup-footer">
    <a class="layui-btn layui-btn-primary" onclick="popup_close();">取消</a>
    <a class="layui-btn" lay-submit="" lay-filter="demo2" onclick="save();">确定</a>
</div>
{/block}

{block name="script"}
<script>
    layui.use(['form'], function () {
        var fn = {
            select_dept: function () {
                winopen("{:url('select_dept')}", 560, 470);
            },
            save: function () {
                send_form("form_data", "{:url('save')}", "{:url('index')}", function (res) {
                    if (res.code) {
                        layer.msg(res.msg, {
                            time: 1200
                        }, function () {
                            popup_close();
                            parent.location.reload(true);
                        });
                    } else {
                        layer.msg(res.msg);
                        return false;
                    }
                });
            }
        };
        win_exp(fn);

    });
</script>
{/block}
