{extend name="layout/home" /}
{block name="content"}
<div class="layui-fluid">
    <div class="td-breadcrumb">
        <span>当前位置</span>
        <span>自由社保</span>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="title">本月接单(截止到今天)</span>
                    <span class="tool"><a class="link" href="page_1.html">待审核资料:0 ></a></span>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md4">
                            <ul class="_3dtJ">
                                <li><span class="">增员</span>
                                    <div><span class="">0</span><span class="">人</span></div>
                                    <div class="">
                                        <span class="">成功:0人</span>
                                        <span class="">失败:0人</span>
                                        <span class="">待处理:0人</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="layui-col-md4">
                            <ul class="_3dtJ">
                                <li><span class="">增员</span>
                                    <div><span class="">0</span><span class="">人</span></div>
                                    <div class="">
                                        <span class="">成功:0人</span>
                                        <span class="">失败:0人</span>
                                        <span class="">待处理:0人</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="layui-col-md4">
                            <ul class="_3dtJ">
                                <li><span class="">增员</span>
                                    <div><span class="">0</span><span class="">人</span></div>
                                    <div class="">
                                        <span class="">成功:0人</span>
                                        <span class="">失败:0人</span>
                                        <span class="">待处理:0人</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="title">我的服务</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list" style="height:360px;">
                    <div class="layui-row">
                        <div class="layui-col-sm6">
                            <div class="layadmin-dataview" lay-filter="LAY-index-pie" >
                                <div carousel-item="" id="LAY-index-pie">
                                    <div></div>
                                </div>
                            </div>
                            <div class="text-center">自由社保政策服务区</div>
                        </div>
                        <div class="layui-col-sm6">
                            <div class="layadmin-dataview" lay-filter="LAY-index-bar" >
                                <div carousel-item="" id="LAY-index-bar">
                                    <div></div>
                                </div>
                            </div>
                            <div class="text-center">自由社保政策服务区</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="title">本月订单</span>
                    <span class="tool"><a class="link" href="page_2.html">提醒续费订单:0 ></a></span>
                </div>
                <div class="layui-card-body layuiadmin-card-list" style="height:220px;">
                    <p class="layuiadmin-big-font">9,999,666</p>
                    <p>
                        总计访问量
                        <span class="layuiadmin-span-color">88万 <i
                                class="layui-inline layui-icon layui-icon-flag"></i></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="title">功能</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list" style="">
                    <div class="td-box-1">
                        <div class="text-center">
                            <a href="page_3.html"><img src="/static/image/招聘new_05.png"></a>
                        </div>
                        <div class="text-center text">
                            前道管理
                        </div>
                    </div>
                    <div class="td-box-1">
                        <div class="text-center">
                            <a href="page_1.html"><img src="/static/image/在招职位.png"></a>
                        </div>
                        <div class="text-center text">
                            订单管理
                        </div>
                    </div>
                    <div class="td-box-1">
                        <div class="text-center">
                            <a href="page_4.html"><img src="/static/image/招聘new_09.png"></a>
                        </div>
                        <div class="text-center text">
                            自由政策管理
                        </div>
                    </div>
                    <div class="td-box-1">
                        <div class="text-center">
                            <a href="page_5.html"><img src="/static/image/常见问题.png"></a>
                        </div>
                        <div class="text-center text">
                            常见问题
                        </div>
                    </div>
                    <div class="td-box-1">
                        <div class="text-center">
                            <a href="page-3.html"><img src="/static/image/自由社保协议.png"></a>
                        </div>
                        <div class="text-center text">
                            用户协议(下载)
                        </div>
                    </div>
                    <div class="td-box-1">
                        <div class="text-center">
                            <a href="page_6.html"><img src="/static/image/自由社保_数据统计.png"></a>
                        </div>
                        <div class="text-center text">
                            用户管理
                        </div>
                    </div>
                    <div class="td-box-1">
                        <div class="text-center">
                            <a href="page_7.html"><img src="/static/image/自由社保设置.png"></a>
                        </div>
                        <div class="text-center text">
                            自由社保设置
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'sample']), function () {

    };

</script>
{/block}
