{extend name="layout/detail" /}

{block name="content"}
<input type="hidden" name="ajax" id="ajax" value="1">
<!--<h1 class="main-title">编辑用户</h1>-->
<hr>
<form id="form_data" class="layui-form" method="post" action="{:url('save')}">
	<input type="hidden" name="opmode" value="edit">
	<input type="hidden" name="id" id="id" value="{$article.id}">

	<div class="layui-form-item">
		<label class="layui-form-label required">标题：</label>
		<div class="layui-input-block w40">
			<input type="text" name="name" placeholder="标题" class="layui-input" check="required" info="标题" value="{$article.name}">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label required">作者：</label>
		<div class="layui-input-block w19">
			<input type="text" name="author" placeholder="作者" class="layui-input" check="required" info="作者" value="{$article.author}">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label required">URL：</label>
		<div class="layui-input-block w38">
			<input type="text" name="url" placeholder="请输入URL" class="layui-input" check="required" info="URL" value="{$article.url}">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label required">发布时间：</label>
		<div class="layui-input-block w19">
			<input type="text" name="post_time" placeholder="发布时间" class="layui-input input-date-time" check="required" info="发布时间" value="{$article.post_time}">
		</div>
	</div>


	<hr>
	<div class="layui-form-item">
		<label class="layui-form-label"></label>
		<div class="layui-input-block">
			<a class="layui-btn" lay-submit="" lay-filter="demo2" onclick="save();">保存</a>
			<a class="layui-btn layui-btn-primary" onclick="go_return_url();">取消</a>
		</div>
	</div>
</form>
{/block}
{block name="script"}
<script>
	layui.use(['form'], function() {
		var form = layui.form;
		var fn = {
			save : function() {
				send_form("form_data", "{:url('save')}", "{:url('index')}", function(ret) {
					if (ret.code) {
						layer.msg(ret.msg, {
							time : 1200
						}, function() {
							go_return_url();
						});
					} else {
						layer.msg(ret.msg);
						return false;
					}
				});
			}
		};
		win_exp(fn);
		form.render();

	});
</script>
{/block}
