{extend name="layout/index" /}

{block name="content"}
<input id="ajax" value="1" type="hidden">
<h1 class="main-title">首页设置</h1>
<hr>
<form id="form_data" class="layui-form" method="post" action="{:url('save')}">
    <input type="hidden" name="data_type" value="home">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">
                轮播图
            </li>
            <li class="hidden">
                目的地
            </li>
            <li class="hidden">
                特色游
            </li>
            <li class="hidden">
                博客
            </li>
            <li class="hidden">
                结伴行程
            </li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">轮播图</label>
                    <div class="layui-input-block">
                        {:widget('FileUpload/edit',array('home_slide',get_system_val('home_slide',$system_data)))}
                    </div>
                </div>
            </div>

            <!--推荐目的地-->
            <div class="layui-tab-item ">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题（中文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="destination_title" placeholder="标题（中文）" class="layui-input"
                                       value="{:get_system_val('destination_title',$system_data)}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题（英文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="destination_title_en" placeholder="标题（英文）" class="layui-input"
                                       value="{:get_system_val('destination_title_en',$system_data)}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题（中文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="destination_sub_title" placeholder="副标题（中文）"
                                       class="layui-input"
                                       value="{:get_system_val('destination_sub_title',$system_data)}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题（英文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="destination_sub_title_en" placeholder=">副标题（英文）"
                                       class="layui-input"
                                       value="{:get_system_val('destination_sub_title_en',$system_data)}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--特色游-->
            <div class="layui-tab-item ">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题（中文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="category_title" placeholder="标题（中文）" class="layui-input"
                                       value="{:get_system_val('category_title',$system_data)}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题（英文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="category_title_en" placeholder="标题（英文）" class="layui-input"
                                       value="{:get_system_val('category_title_en',$system_data)}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题（中文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="category_sub_title" placeholder="副标题（中文）" class="layui-input"
                                       value="{:get_system_val('category_sub_title',$system_data)}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题（英文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="category_sub_title_en" placeholder="副标题（英文）"
                                       class="layui-input"
                                       value="{:get_system_val('category_sub_title_en',$system_data)}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--博客-->
            <div class="layui-tab-item ">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题（中文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="blog_title" placeholder="标题（中文）" class="layui-input"
                                       value="{:get_system_val('blog_title',$system_data)}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题（英文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="blog_title_en" placeholder="标题（英文）" class="layui-input"
                                       value="{:get_system_val('blog_title_en',$system_data)}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题（中文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="blog_sub_title" placeholder="副标题（中文）" class="layui-input"
                                       value="{:get_system_val('blog_sub_title',$system_data)}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题（英文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="blog_sub_title_en" placeholder="副标题（英文）" class="layui-input"
                                       value="{:get_system_val('blog_sub_title_en',$system_data)}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--结伴-->
            <div class="layui-tab-item ">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题（中文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="companion_title" placeholder="标题（中文）" class="layui-input"
                                       value="{:get_system_val('companion_title',$system_data)}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题（英文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="companion_title_en" placeholder="标题（英文）" class="layui-input"
                                       value="{:get_system_val('companion_title_en',$system_data)}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题（中文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="companion_sub_title" placeholder="副标题（中文）" class="layui-input"
                                       value="{:get_system_val('companion_sub_title',$system_data)}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题（英文）</label>
                            <div class="layui-input-block w34">
                                <input type="text" name="companion_sub_title_en" placeholder="副标题（英文）"
                                       class="layui-input"
                                       value="{:get_system_val('companion_sub_title_en',$system_data)}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <a class="layui-btn" lay-submit="" lay-filter="demo2" onclick="save();">保存</a>
            <a class="layui-btn layui-btn-primary" onclick="go_return_url();">取消</a>
        </div>
    </div>
</form>
{/block}

{block name="script"}
<script>
    var upload_url = "{:url('upload')}";

    layui.use(['element', 'uploader', 'ueditor'], function () {
        set_return_url(null);
        var fn = {
            select_holiday: function () {
                winopen("{:url('select_holiday')}", 560, 470);
            },
            select_partner: function () {
                winopen("{:url('select_partner')}", 560, 470);
            },
            select_category: function () {
                winopen("{:url('select_category')}", 560, 470);
            },
            select_destination: function () {
                winopen("{:url('select_destination')}", 560, 470);
            },
            select_companion: function () {
                winopen("{:url('select_companion')}", 560, 470);
            },
            select_blog: function () {
                winopen("{:url('select_blog')}", 560, 470);
            },
            save: function () {

                $(".muti-select").each(function () {
                    $muti_select = $(this);
                    var id_list = new Array();

                    $muti_select.find("span").each(function () {
                        $span = $(this);
                        id_list.push($span.attr('data'));
                    });
                    $muti_select.find('.id_list').eq(0).val(id_list);
                    $muti_select.find('.html').eq(0).val($muti_select.find('.wrap').html());
                });

                send_form("form_data", "{:url('save')}", "{:url('index')}", function (ret) {
                    if (ret.code) {
                        layer.msg(ret.msg, {
                            time: 1200
                        }, function () {
                            location.reload(true);
                        });
                    } else {
                        layer.msg(ret.msg);
                        return false;
                    }
                });
            }
        };
        win_exp(fn);

        $(document).on('click', '.item i', function () {
            $(this).parent().remove();
        });
    });
</script>
{/block}