{extend name="layout/popup" /}
{block name="content"}
<input type="hidden" name="ajax" id="ajax" value="1">
<div class="popup-header">
    <h1>添加用户</h1>
</div>
<div class="popup-body">
    <div class="space-20"></div>
    <form id="form_data" class="layui-form" method="post" action="{:url('save')}">
        <input type="hidden" name="opmode" value="add">
        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">姓名：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="name" placeholder="" class="layui-input" check="required" info="请输入名称">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label required">手机号：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="mobile" placeholder="" class="layui-input" check="number"
                               info="请输入登录名">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label">部门：</label>
                    <div class="layui-input-block w19">
                        <select name="dept_id">
                            {:fill_option($dept_list)}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label">岗位：</label>
                    <div class="layui-input-block w19">
                        <input type="text" name="mobile" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="popup-footer">
    <a class="layui-btn layui-btn-primary" onclick="popup_close();">取消</a>
    <a class="layui-btn" lay-submit="" lay-filter="demo2" onclick="save();">确定</a>
</div>
{/block}

{block name="script"}
<script>
    layui.use(['form'], function () {
        var fn = {
            select_dept: function () {
                winopen("{:url('select_dept')}", 560, 470);
            },
            save: function () {
                send_form("form_data", "{:url('save')}", "{:url('index')}", function (res) {
                    if (res.code) {
                        layer.msg(res.msg, {
                            time: 1200
                        }, function () {
                            popup_close();
                            parent.location.reload(true);
                        });
                    } else {
                        layer.msg(res.msg);
                        return false;
                    }
                });
            }
        };
        win_exp(fn);

    });
</script>
{/block}
